@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 5px;
}

body {
  background: linear-gradient(to right, rgb(40, 31, 53), rgb(61, 46, 83));
  color: rgb(235, 235, 235);
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 1fr 0fr;
  grid-template-rows: 0.5fr 0fr 0fr;
  gap: 0px 0px;
  width: 50%;
  height: 50%;
}

.hero {
  text-align: center;
}
.text {
  grid-area: 1 / 2 / 2 / 3;
}

h1 {
  margin: 1em 0 0 0;
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-weight: 400;
}

.hero img {
  width: 200px;
  height: 300px;
}

.radio {
  max-width: 60em;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
  font-size: 1.2rem;
  width: 100%;
}

.filters span {
  margin: 0.25em;
  border: 1px solid #e36bae;
  border-radius: 10px;
  padding: 0.25em 0.75em;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
  }
}

.selected {
  background: linear-gradient(to bottom right, #e36bae, #fb743e);
}

.stations {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  width: 100%;
}

.station {
  font-size: 1.2em;
  border: 1px solid rgb(201 189 218);
  margin: 0.25em;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;

  &:hover {
    border-color: #e36bae;
  }
}

.stationName {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5px 0 5px 0;
}

.name {
  width: 100%;
  text-align: center;
}

.logo {
  display: block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: 2px solid rgb(76, 62, 95);
  margin: 0 0.25em;
}

audio {
  width: 100%;
}

.rhap_container.player {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 0.25em 0.75em;
  background-color: rgb(76, 62, 95);
  border-radius: 10px;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;
}

.rhap_controls-section .rhap_volume-controls {
  justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label='Play'] svg path {
  fill: rgb(235, 235, 235) !important;
}

.rhap_controls-section .rhap_main-controls button[aria-label='Pause'] svg path {
  fill: #e36bae !important;
}
@media only screen and (max-width: 600px) {
  .stations {
    grid-template-columns: repeat(2, 50%);
  }
  .name {
    font-size: 0.8em;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .logo {
    object-fit: cover;
    object-position: 50% 20%;
  }

  .station {
    padding: 12px;
  }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .name {
    text-align: left;
  }
}
