.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  margin: 5px 5px;
  text-align: center;
  padding: 45px 50px;
}

a {
  background: linear-gradient(to right, rgb(40, 31, 53), rgb(61, 46, 83));
  color: rgb(235, 235, 235);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  text-decoration: none;
  margin: 0.25em;
  border: 1px solid #e36bae;
  border-radius: 10px;
  padding: 0.25em 0.75em;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
  }
}
